<p class="text-success"><%= flash[:alert] %></p>
<div class="container-fluid mx-auto">
  <div class="row mt-3">
    <div class="col-md-8 mx-auto">
      <label class="h4 pr-3 pl-3">会員一覧</label>
       <%= render "index", members: @members %>
      <div>
        <%= paginate(@members) %>
      </div>
    </div>
  </div>
</div>