<div class="container about">
  <div class="row">
    <div class="col-lg-12 col-12">
      <div class="mt-5 mb-5">
        <p class="font-weight-bold text-center" style="font-size: 30px; color: black; background:linear-gradient(transparent 60%, #ffb6c1 80%);">しぇあそびについて</p>
      </div>
      <div class="mt-5 text-center">
        <p class="mb-4 mt-4" style="color: black;">
           しぇあそびは、ユーザーが<strong class="text-big" style="color: black;">小さな子供たちと遊ぶ場所を検索して共有できるSNSサイト</strong>です。<br>
           お子様やお孫さん、大切な方との<strong class="text-big" style="color: black;">お出かけ先に悩んでいる方</strong>、 <strong class="text-big" style="color: black;">大切な時間を大切に過ごしたい方</strong>に。。。<br>
           今しかない貴重な時間をより濃いものにするために、<strong class="text-big" style="color: black;">お出かけ先のバリエーションがマンネリ化してしまう</strong><br>
           という<strong class="text-big" style="color: black;">問題を解決するための手助け</strong>ができれば幸いです。
        </p>
        <p class="mb-4 mt-4" style="color: black;">
          このアプリケーションの背後にあるインスピレーションは、私の個人的な経験から来ています。<br>
          現在3 歳の娘を持つワーキングマザーとして、新しい刺激的なおでかけスポットを見つけるのに苦労することがよくありました。<br>
          母親でもある友人と懸念を共有したとき、これまで聞いたことのないお出かけ先について情報交換をすることができました。<br>
          この情報交換によって、子供向けおでかけスポットに関する情報を簡単に共有できるアプリを作成するというアイデアが生まれました。
        </p>
        <p class="mb-4 mt-4" style="color: black;">
          しぇあそび の主な機能は、子供向けのおでかけスポットを<strong class="text-big" style="color: black;">検索する機能と投稿する機能</strong>です。<br>
          また、各投稿に対してコメント機能、いいね機能、ユーザーに対してフォロー機能、および不快なユーザーに対する通報機能も提供しております。<br>
          <strong class="text-big" style="color: black;">ログインしていないユーザーはおでかけスポットを検索・閲覧することしかできません</strong>が、アカウントを持つユーザーはすべての機能を利用できます。<br>
          親子などで楽しめるスポットの情報を手軽に共有することで、<strong class="text-big" style="color: black;">子どもとの絆が深まり、新しい体験で人生が豊かになると信じています。</strong><br>
          いつもしぇあそびをご利用いただき、誠にありがとうございます。
        </p>
      </div>
    </div>
  </div>
</div>