<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 bg-image justify-content-center align-items-center ml-3 mr-5 mb-5 main-visual shadow-lg" >メインビジュアル
      <!--<p class="d-inline-block text-dark pt-4 pr-5 pd-4 ml-5" style="background-color: rgba(10, 10, 10, 0.6);">-->
      <!--  しぇあそびへようこそ！<br>-->
      <!--  しぇあそびは子連れのお出かけスポットを<br>-->
      <!--  投稿・共有できるサイトです。<br>-->
      <!--  投稿は会員登録された方のみ利用できます。-->
      <!--</p>-->
    </div>
    <div class="col-lg-3 bg-secondary">タグ検索</div>
  </div>
  <div class="row bg-primary">
    新着投稿
  </div>
  <div class="row">
    <div class="col bg-dark text-white">1</div>
    <div class="col bg-dark text-white">2</div>
    <div class="col bg-dark text-white">3</div>
    <div class="col bg-dark text-white">4</div>
  </div>
  <div class="row"><%= link_to "もっと見る", posts_path %></div>
</div>
