<p>お世話になっております。しぇあそび管理者のhanaと申します。</p>
<p>この度、あなたが投稿したコンテンツが通報されましたのでご連絡差し上げます。</p>
<p>通報理由は以下のとおりでございます。</p>
<P>通報理由：<%= @report_reason %></P>

<p>当サイトは安全かつ個性なプラットフォームを維持するため、以下のような行為を禁止しております。</p>
<p>・法律や地域の法令に違反する行為</p>
<p>・他のユーザーに対する嫌がらせや脅迫</p>
<p>・誤った情報の拡散や虚偽の口コミの投稿</p>
<p>今後、同様の行為が確認された場合には、アカウントの停止や利用制限などの措置を取らせていただくことがありますので、十分にご注意ください。</p>
<P>何かご不明な点があれば、お気軽に当サイトお問い合わせ機能をご利用の上、お問い合わせください。</P>
<p>引き続き、しぇあそびをご利用いただきますようお願い申し上げます。</p>

