* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

/*application.html----------------------------------*/

/*登録ボタン等の色をサーモン色に変更-----------------*/

.btn-salmon{
  background-color: #fa8072;
  color: white;
}


/*public/homes/top.html-----------------------------*/
.main-visual{
  height: 400px;
  width: 600px;
  background-image: url("../../assets/images/top.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*public/members/show.html*/
.profile-content{
  height: 500px;
  width: 300px;
}

.heart_red{
  color: red;
}

.profile-side{
  padding-top: 80px;
}


/*public/members/edit.html*/

.edit_form_group{
  height: 500px;
  width: 700px;
}

/*public/members/edit.html*/
.confirm-btn{
  height: 50px;
  width: 200px;
}


/*public/posts/show.html*/
.tag-name {
    padding: 10px 15px;
    margin: 10px 0;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
    width: 100px;
}
.tag-name p {
    margin: 0;
    padding: 0;
}


/*admin/sessions/new.html------------------------*/
.login_title{
  text-align: center;
}

