* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

/*application.html----------------------------------*/

main{
  min-height: 100vh;
  position: relative;/*←相対位置*/
  padding-bottom: 120px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

footer{
  width: 100%;
  background-color: #89c7de;
  color: #fff;
  text-align: center;
  padding: 30px 0;

  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}

/*登録ボタン等の色をサーモン色に変更-----------------*/

.btn-salmon{
  background-color: #fa8072;
  color: white;
}


/*public/homes/top.html-----------------------------*/
.main-visual{
  height: 400px;
  width: 600px;
  background-image: url("../../assets/images/top.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*public/members/show.html*/
.profile-content{
  height: 500px;
  width: 300px;
}

  /*public/posts/show.htmlにも記述あり*/
.heart_red{
  color: red;
}

.profile-side{
  padding-top: 80px;
}


/*public/members/edit.html*/

.edit_form_group{
  height: 500px;
  width: 700px;
}

/*public/members/edit.html*/
.confirm-btn{
  height: 50px;
  width: 200px;
}


/*public/posts/show.html*/
.tag-name {
    padding: 10px 15px;
    margin: 10px 0;
    color: #232323;
    background: #ffe4e1;
    border-left: solid 10px #ff8c00;
    width: 200px;
}
.tag-name p {
    margin: 0;
    padding: 0;
}

.card-image{
  height: 400px;
}

.normal_heart{
  color: #c0c0c0;
  border-color: black;
  height: 40px;
}


/*admin/sessions/new.html------------------------*/
.login_title{
  text-align: center;
}

