<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h4 class="mt-4 mb-4 text-center">お問い合わせ</h4>
    </div>
  </div>
  <h5 class="text-center mt-4">お問い合わせいただきありがとうございました！</h3>
</div>